// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

article.movie {
  img {
    display: block;
    max-width: 400px;
    max-height: 120px;
    width: auto;
    height: auto;
    float: left;
    margin: 0 15px;
    border: 3xp solid $secondary-color;
  }
}
